
.hide-at-top {
  transition: top 0.3s;
  top: -70px;
  width: 100%; /* Full width */
  z-index: 1
}

.show-me {
  top: 0px;
}


@media only screen and (max-width: 1000px;){
  body {font-size: 1.125rem;}
  .navbar-item img {min-height: 100px;}
}
