@charset "utf-8";

$blue: #0066be; // WAXIE BLUE

$info: $blue;
$navbar-item-hover-background-color: $blue;

$navbar-height: 7rem;

@import "../node_modules/bulma/bulma.sass";

.navbar-burger {
  margin-top: 1em;
  }

.navbar-burger span {
    width: 24px;
  }

.navbar-burger span:nth-child(1) {
  top: calc(50% - 8px); }
.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px); }
.navbar-burger span:nth-child(3) {
  top: calc(50% + 6px); }

@media screen and (max-width: 1023px) {
  body, p, div {
    font-size: 1.25rem;
    }
}
