{% extends 'base.html' %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">WAXIE Solution Station</h1>
        <div class="content">
          <p>WAXIE Solution Station products have simple descriptive names and are color and number-coded at every step of the dispensing process helping to ensure that your employees never dispense the wrong chemical into the wrong bottle.
          </p>
        </div>
        {% for category, catval in SOLSTA_CATEGORIES.items() %}

        <section class="hero is-small is-grey">
          <div class="hero-body">
            <h2 class="subtitle">{{category}} - {{catval}}</h2>
          </div>
        </section>

          <table class="has-text-left table is-bordered is-fullwidth is-striped">
           <thead>
             <tr>
                 <th>Category</th>
                 <th>Item Number</th>
                 <th>Product Description</th>
                 <th>SDS</th>
                 <th>Spec Sheet</th>
                 <th>Ingredients</th>
             </tr>
           </thead>
           <tbody class="has-text-left">
   {% for product in pages %}
     {% if product.category == category %}
   <tr>
     <th>{{product.category}} - {{SOLSTA_CATEGORIES[product.category.title()]}}</th>
   <th>{{product.waxie_item_number}}</th>
   <th>
         <h1 class=""><a
             href="/{{product.slug}}">{{product.product_description}}</a></h1>
   </th>
     <td>
       <a href="{{product.safety_data_sheet}}"><span class="icon"><i class="far fa-file"></i></span></a>
     </td>
     <td>
       <a href="{{product.spec_sheet}}"><span class="icon"><i class="far fa-file"></i></span></a>
     </td>
     <td>
       {#
       <a href="{{product.safety_data_sheet}}"><span class="icon"><i class="far fa-file"></i></span></a>
       #}
     </td>
   </tr>
    {% endif %}
    {% endfor %}
         </tbody>
       </table>
    {% endfor %}
  </div>
</section>
{% endblock %}
