{% extends 'base.html' %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">WAXIE Solution Station</h1>
        <div class="content">
          <p>
            WAXIE Solution Station products have simple descriptive names and are color and number-coded at every step of the dispensing process helping to ensure that your employees never dispense the wrong chemical into the wrong bottle.
          </p>
          <p>Reference: 
            <span class="tags has-addons">
              <span class="tag is-success"></span>
              <span class="tag is-dark">WAXIE Green</span>
            </span>
            <span class="tags has-addons">
              <span class="tag is-warning"></span>
              <span class="tag is-dark">Versa Compatible</span>
            </span>
          </p>
      </div>

        {% for category, catval in SOLSTA_CATEGORIES.items() %}

          <h2 class="subtitle">{{category}} - {{catval}} </h2>

          <table class="has-text-left table 
            is-narrow">
           <thead>
             <tr>
               <th>Item Number</th>
               <th>Product Description</th>
             </tr>
           </thead>
           <tbody class="has-text-left">
   {% for product in pages %}
   {% if product.category == category %}
   <tr>
     <th>
     {{product.waxie_item_number}}
     </th>

     <td>
       <div class="field is-grouped">
         <div class="control">
           <a href="./{{product.slug}}">{{product.product_description}}</a>
         </div>

         <div class="control">
             <div class="tags  are-small">
            {% if product.waxie_green %}
               <span class="icon has-text-success"><i class="fas fa-circle"></i></span>
             {% endif %}
             {% if product.versa_compatible %}
               <span class="icon has-text-warning"><i class="fas fa-circle"></i><span>
             {% endif %}
             </div>
         </div>
       </div>
     </td>
   </tr>
    {% endif %}
    {% endfor %}
         </tbody>
       </table>
    {% endfor %}
  </div>
</section>
{% endblock %}
