<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if name %}{{Name}} - {% endif %} WAXIE Solution Station</title>
  <link rel="stylesheet" href="./static/base.css">
  {% block stylesheets %}
  {% endblock %}
</head>
<body class="is-size-3-touch">
  {% include 'header.html' %}
  {% block content %}
  {% endblock %}
  {% include 'footer.html' %}

  <!-- Load FontAwesome Icon Pack -->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active has-text-info');

      });
    });
  }

});
  </script>
  <script type="text/javascript">
window.onscroll = function () {
  
  if (window.pageYOffset > 300) {
  
    const headerMenu = document.querySelector('header.hide-at-top');
    headerMenu.classList.add('show-me');
    } 
  
  else {
    const headerMenu = document.querySelector('header.hide-at-top');
    headerMenu.classList.remove('show-me');
    
  }
  };    
  </script>
  {% include 'menu_dropdown.js' %}
  {% block scripts %}
  {% endblock %}
</body>
</html>
