<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if name %}{{Name}} - {% endif %} WAXIE Solution Station</title>
  <link rel="stylesheet" href="./static/base.css">
  {% block stylesheets %}
  {% endblock %}
</head>
<body class="is-size-3-tablet">
  {% include 'header.html' %}
  {% block content %}
  {% endblock %}
  {% include 'footer.html' %}

  <!-- Load FontAwesome Icon Pack -->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script type="text/javascript">
window.onscroll = function () {
  
  if (window.pageYOffset > 300) {
  
    const headerMenu = document.querySelector('header.hide-at-top');
    headerMenu.classList.add('show-me');
    } 
  
  else {
    const headerMenu = document.querySelector('header.hide-at-top');
    headerMenu.classList.remove('show-me');
    
  }
  };    
  </script>
  {% include 'menu_dropdown.js' %}
  {% block scripts %}
  {% endblock %}
</body>
</html>
