{% if certifications %}
  <h2 class="subtitle">Certifications</h2>
  <div class="columns">
    {% for certification in certifications %}
    {% set cert = CERTIFICATIONS[certification.lower()] %}
    <div class="column is-3">
      <div class="box">
        <img style="max-height: 150px;" src="{{cert['image']}}">
        <div>
          <small class="is-size-7">{{cert['description'] | safe }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="notification">
    <small>The logos and certifications indicate this product and been
      evaulated and certified by the certification authority of those
      organizations and does not constitute as an endorsement from those
      organizations.</small>
{% endif %}
