  <h2 class="subtitle">Certifications</h2>
  <div class="level">
    {% for certification in certifications %}
    {% set cert = CERTIFICATIONS[certification.lower()] %}
      <div class="level-item">
        <div class="card">
          <div class="card-image">
            <img style="max-height: 75px;" src="{{cert['image']}}">
          </div>
          <class="card-body">
          {% if description in cert %}
            <small>{{cert['description']}}</small>
          {% else %}
            <small>{{certification}}</small>
          {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
