{% if hide_header %}
<header class="hide-at-top">
{% else %}
<header>
{% endif %}
    <div class="navbar has-text-1-touch has-background-info">
      <div class="navbar-brand">
        <div class="navbar-item">
        <figure>
        <a href="/"><img
          src="/static/logo.png"
          alt="WAXIE Solution Station"></a>
        </figure>
        </div>
        <a role="button" class=" has-text-1-touch navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <a class="navbar-item has-text-white" href="/chemicals">Chemicals</a>
        <a class="navbar-item has-text-white" href="/dispensers">Dispensers</a>
        <a class="navbar-item has-text-white" href="/accessories">Accessories</a>
        <a class="navbar-item has-text-white" href="https://info.waxie.com">WAXIE Sanitary Supply</a>
      </div>
    </div>
  </header>
