{% if hide_header %}
<header class="hide-at-top has-background-white">
{% else %}
<header>
{% endif %}
    <div class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"><h1 class="title">WAXIE
            Solution Station</h1></a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <a class="navbar-item" href="/all_products">Products</a>
        <a class="navbar-item" href="/all_dispensers">Dispensers</a>
        <a class="navbar-item" href="https://info.waxie.com">WAXIE Sanitary Supply</a>
        </div>
  </div>
      </div>
    </div>
  </header>
