{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <figure class="figure is-16by9">
      <img src="">
    </figure>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      {{content}}
    </div>

    <h2 class="subtitle"><a href="/all_dispensers">View Dispensers</a></h2>
      <div class="columns is-desktop">
          {% for dispenser in dispensers %}
        <div class="column">
          <div class="box">
            <figure class="figure">
              <a href="/{{dispenser.slug}}">
                <img style="width: 350px;" src="{{dispenser.image}}">
              </a>
            </figure>
            <a href="/{{dispenser.slug}}">
              <h3 class="subtitle">{{dispenser.product_description}}</h3>
            </a>
          </div>
        </div>
      {% endfor %}
      </div>

      <h2 class="subtitle"><a href="/all_products">View Products</a></h2>
  </div>
</section>
{% endblock%}
