{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <figure class="figure is-16by9">
      <img src="">
    </figure>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      {{content}}
    </div>

    <h2 class="subtitle">View Dispensers</h2>
      {% for dispenser in dispensers %}
        {{dispenser}}
      {% endfor %}
    <h2 class="subtitle">View Products</h2>
  </div>
</section>
{% endblock%}
