{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <figure class="figure is-16by9">
      <img src="">
    </figure>
  </div>
</section>

<section class="section">
  <div class="container">
    <p>Elit dicta hic iure necessitatibus perferendis enim. Sit expedita tempore voluptates tenetur ab? Magni quibusdam alias quaerat necessitatibus quia. Quasi voluptate placeat numquam porro quo. Quibusdam cum quibusdam cumque provident.</p>
    <p>Adipisicing tenetur eos doloribus laboriosam ea, aperiam? Libero dolor magni aliquam officiis illo Quia totam iste quas voluptates explicabo? Similique accusantium quis magnam quia exercitationem Nihil sapiente tempora fuga architecto</p>
  </div>
</section>
{% endblock%}
