<div class="mt-6">
  <h2 class="subtitle is-2">
    Other Products in {{category}}-{{SOLSTA_CATEGORIES[category]}}
  </h2>
  <hr/>
  <div class="columns">
      {% for page in collections['Chemicals'].pages %}
        {% if page.category == category and page.slug != slug %}
        <div class="column">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <a href="{{page.slug}}">
                  <img class="" src="{{page.image}}">
                </a>
              </figure>
            </div>
            <div class="media-content">
              <h3 class="subtitle is-5 my-5"><a href="{{page.slug}}">
                  {{page.product_description}}</a></h3>
            </div>
        </div>
    </div>
        {% endif %}
      {% endfor %}
  </div>
</div>
