{% extends 'base.html' %}
  {% block stylesheets %}
  <link rel="stylesheet" href="/static/products.css">
  {% endblock %}
  {% block content %}
  <section class="section">
    <div class="container">
      <div class="has-text-centered">
        <img style="max-height: 25em;" src="{{image}}">
        </div>
      <div class="content">
        <a href="#">
          <h2 class="subtitle is-5">
            {{category}}-{{SOLSTA_CATEGORIES[category]}}
          </h2>
        </a>
        <h1 class="title">{{product_description}}</h1>

        {{content}}

          <h2>Safety Information</h2>
            <p>Read the Safety Data Sheet (SDS) and product label before use. The
            SDS and product label contain hazard warnings, precautionary statements
            and first aid procedures.</p>
            <p>HOTLINE NUMBER: You may contact Chem-Tel at (800) 255-3924 for
            emergency medical treatment information.</p>
      </div>
      </div>
    </div>
  </section>
  {% endblock %}
